body{
    background-color: rgb(53, 47, 47);
    padding: 50px;
}

img{
    width: 100%;
    height: 100%; 
    border-radius: 10px;
    display: block;
}
.about-div {
    text-align: center;
   
    line-height: 50px;
    font-family: "Courier New", Courier, monospace;
   
    width: 100%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 15px;
  }
  .picture-para {
    font-size: 20px;
    margin-left: 10px;
    text-decoration: none;
    color: rgb(216, 211, 211);
  }
  
  .picture-para:hover {
    background-color: rgb(73, 73, 69);
    box-shadow: 20px 40px 90px 6px #e1e899;
  }
  
.cv-div{
    display: flex;
    justify-content: space-between;
    gap:10px;
    margin-bottom: 10px;

   
}
.light-image{
    text-align: center;
    margin:30px;
   
    
   
}
.total-div{
    max-width:100%;
}
video{
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;

}
img:hover{
    transform: rotateX(25deg);
    transition: all 5s;
    
  }
  video:hover{
    transform: rotateX(15deg);
    transition: all 5s;
    
  }

  @media only screen and (max-width: 820px) and (min-width: 375px) {
    body {
      background-color: rgb(185, 168, 167);

    }
    img{
        width:100%;
        height: 100%;
        display:block;
        text-align: center;

    }
    video{
        display: block;
        width: 100%;
        height: 100%;
    }
    .cv-div{
        display: block;
        width: 100%;
       
        height: 100%;
        
       
    }
    .light-image{
        text-align: center;
       
       
    }

  }

  @media only screen and (max-width: 375px) {
    body {
      background-color: rgb(185, 168, 167);

    }
    img{
        width:100%;
        height: 100%;
        display:block

    }
    video{
        display: block;
        width: 100%;
        height: 100%;
    }
    .cv-div{
        display: block;
        width: 100%;
        gap:10px;
        height: 100%;
       
    }

    .total-div{
        display: block;
        gap:10px;
    }
    .light-image{
        text-align: center;
       
       
    }
  }
